/.bundle

.byebug_history

# use parent .env files
/components/**/.env.test

/config/master.key

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

/coverage/*

/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb

.DS_Store

dump.rdb

.editorconfig

.env.development.local
.env.test.local
.env.local

.generators
.idea
.rakeTasks
.tool-versions

/node_modules

/log/*
!/log/.keep

/public/assets
/public/packs
/public/packs-test

/spec/examples.txt

/storage/*
!/storage/.keep

/tmp/*
!/tmp/.keep

/yarn-debug.log*
/yarn-error.log
.yarn-integrity

.vscode

*.*~
